.logo-user {
  border: 2px solid black;
  border-radius: 50%;
  padding: 0px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.img-gif {
  width: 220px;
}
@media screen and (min-width: 480px) {
  .img-gif {
    width: 320px;
  }
}
@media screen and(min-width:768px) {
  .img-gif {
    width: 500px;
  }
}

footer {
  font-size: 0.75rem;
}
